html, body 
{
	margin: 0; padding: 0;
	width: 100%; height: 100%;

	overflow: hidden;
	background: rgb(23,23,23);
	-webkit-transform: translate3d(0,0,0);
}
a#predict-link i {
	position: fixed;
	right: 16px;
	bottom: 16px;
	color: #666;
}
a#predict-link i:hover {
	color: #bbb;
}

a
{
	color: inherit; 
}
	#slogan, #canvas, #desctiption 
	{
		position: absolute;
	}
	#slogan 
	{
		z-index: 2;
		font-size: 160px;
		color: #eee;
		letter-spacing: 3px;
		width: 480px;
		text-align: left;
		padding-left: 20px;
		height: 180px;
		line-height: 180px;
		left: 64px;
		top: 192px;
		font-family: 'Open Sans', sans-serif;
	}
	#desctiption 
	{
		z-index: 2;
		font-size: 36px;
		color: #eee;
		letter-spacing: 3px;
		width: 480px;
		text-align: left;
		padding-left: 20px;
		height: 36px;
		line-height: 180px;
		left: 540px;
		top: 240px;
		font-family: 'Open Sans', sans-serif;
		/*font-family: 'Varela', sans-serif;*/
	}
	#canvas 
	{
		z-index: 1;
	}