<html>
	<head>
		<style type="text/css">
			.info-wrap {
				border-style: solid;
				width: 500;
				margin: auto;
			}
			.info {
				text-align: center;
				font-size: 18;
				font-weight: bold;
			}
			.docID-wrap {
				width: 800;
				margin: auto;
			}
			.docID {
				text-align: center;
			}
		</style>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				events();
			});
			function events(){
				$('.docID-button').click(function(){
					location.href = $(this)[0].innerText;				
				});
			}
		</script>
	</head>
	<body>
		<div class="info-wrap">
			<div class="info">{{ emotion }}</div>
		</div>
		<table class='docID-wrap'>
			{% for i in range(10) %}
				<td>
				{% for j in range(20) %}
					<div>
						<button class="docID-button">{{ 800+i*20+j }}</button>
					</div>
				{% endfor %}
				</td>
			{% endfor %}
		</table>
	</body>
</html>