{% extends "layout.html" %}

{% block content %}
<div class="content-wrap">
	<div class="info-wrap">
		<div class="info"><a href="/">LJ40K</a></div>
		<div class="info"><a href="/{{ emotion }}">{{ emotion }}</a></div>
		<div class="info">{{ ldocID }}</div>
	</div>
<!-- 	<div class="control-wrap">
		<div class="btn"><span>v</span>auto</div>
		<div class="btn"><span>v</span>hide</div>
		<div class="btn"><span>v</span>show</div>
	</div> -->
	<ol type='1'>
		{% for sent, pats in data %}
			<li class="sent-wrap">
				<div class="sent">{{ sent }}</div>
				<div class="pats">
				{% for pat in pats %}
					<div class="pat">{{ pat }}</div>
				{% endfor %}					
				</div>

			</li>
		{% endfor %}
	</ol>
</div>
{% endblock %}