{% extends "_head.html" %}

{% block content %}
<div class="content-wrap">
	<div class="info-wrap">
		<a href="{{ url_for('list_emotions') }}">
		<div class="info-block">
			<div class="info-text info-element">LJ40K</div>
			<div class="info-tri arrow-right info-element"></div>
			<div class="info-tri-shadow arrow-right"></div>
		</div>
		</a>
	</div>
	
	<div class="emotion-items">
	{% for i in range(40) %}
		<a href="{{ url_for('list_emotions') }}{{ emotions[i] }}"><div class="emotion-item">{{ emotions[i] }}</div></a>
	{% endfor %}
	</div>
</div>
{% endblock %}