{% extends "_head.html" %}

{% block content %}


<button id="tomatrix" class="hide">matrix</button>

<div class="settings">
	{% for feature_name in settings %}
	<div class="filter-wrap" filtertarget="{{ feature_name }}">
		<div class="checkbox-wrap">
			<div class="checkbox {{ 'checked' if feature_name != 'fusion' else ''}} "></div>
		</div>
		<div class="filter-label">{{ feature_name }}</div>
	</div>
	{% endfor %}

	<div class="input-wrap">
		<form action="." method="get">
			<!-- <div class="row"> -->
				<input id="setting_id-input" type="text" name="setting_id" value="{{ args['setting_id'] }}" />
				<input id="svm_param-input" type="text" name="svm_param"  value="{{ args['svm_param'] }}" />
				<input id="load" type="submit" value="load" />
		</form>
	</div>

	<div class="filter-target-wrap">
		{% for feature_name in settings %}
		<div class="filter-target {{ 'hide' if feature_name == 'fusion' else ''}}" name="{{ feature_name }}">
			<div class="feature-name">{{ feature_name }}</div>

			{% for setting in settings[feature_name] %}
			<!-- <hr> -->
			<div class="setting-wrap {{ 'mathced' if setting['_id'] == args['setting_id'] else '' }}">
				<div class="setting-id">{{ setting['_id'] }}</div>
				<div class="setting">
					{% for key in setting %}
					{% if key != '_id' and key != 'feature_name' %}
					<div>
						<span class="key">{{ key }}</span>
						<span class="value">{{ setting[key] }}</span>
					</div>
					{% endif %}
					{% endfor %}
				</div>				
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</div>


<div class="matrix-container">
	<!-- <button id="totop">settings</button> -->
	<div id="totop">top</div>
	{% if matrix %}
	<table class="matrix" cellpadding="0" cellspacing="0">

		<tr class="first-row">
			<td class="first-col"></td>
			{% for j, predict in order %}
			<td class="predict-label label" emotion="{{ predict }}" predictidx="{{ j }}">{{ j+1 }}</td>
			{% endfor %}
		</tr>
		
		{% for i, gold in order %}
		<tr>
			<td class="first-col gold-label label" emotion="{{ gold }}" goldidx="{{ i }}"> {{ i+1 }} </td>

			{% for j, answer in order %}

				{% if gold == answer %}
					<td class="count hit" goldidx="{{ i }}" predictidx="{{ j }}"> {{ matrix[gold][answer] }} </td>
				{% else %}
					<td class="count" goldidx="{{ i }}" predictidx="{{ j }}"> {{ matrix[gold][answer] }} </td>
				{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	{% endif %}
</div>

{% endblock %}