{% extends "_head.html" %}

{% block content %}
<div class="content-wrap">
	<div class="info-wrap">

		<img class="pat-search-loading hide" src="{{ url_for('static', filename='img/loading.gif') }}"/>

		<a href="{{ url_for('list_emotions') }}">
		<div class="info-block">
			<div class="info-text info-element">LJ40K</div>
			<div class="info-tri arrow-right info-element"></div>
			<div class="info-tri-shadow arrow-right"></div>
		</div>
		</a>
		<a href="{{ url_for('list_emotions') }}{{ emotion }}">
		<div class="info-block">
			<div class="info-text info-element">{{ emotion }}</div>
			<div class="info-tri arrow-right info-element"></div>
			<div class="info-tri-shadow arrow-right"></div>
		</div>
		</a>
		<a href="#">
		<div class="info-block">
			<div class="info-text info-element">{{ ldocID }}</div>
			<div class="info-tri arrow-right info-element"></div>
			<div class="info-tri-shadow arrow-right"></div>
		</div>
		</a>

		<div class="pat-search-wrap">
			<input class="pat-search-bar" type="text" />
			<img class="pat-search-btn" src="{{ url_for('static', filename='img/search.png') }}"/>
		</div>		
	</div>

	<div style="text-align: right; font-family: Verdana; color:#3366cc"><a href="?text" target="_blank">article</a></div>

	<ol type='1'>
		{% for sent, pats in sp_pairs %}
			<li class="sent-wrap">
				<div class="sent">{{ sent }}</div>
				<div class="pats">
				{% for pat in pats %}
					<div class="pat open">{{ pat }}</div>
				{% endfor %}					
				</div>

			</li>
		{% endfor %}
	</ol>

	<div class="mask hide">

	</div>
	<!-- <hr /> -->

	<div id="chart-container" class="container hide">
		<div class="chart-wrap wrap">
			<label class="pattern">pattern</label>
			<label class="close">X</label>
		</div>


	</div>
</div>
{% endblock %}
